<div>

  <form class="" action="<%student_path%>" method="post">
    <select class="" name="activate">
      <option value="true">Activate</option>
      <option value="false">Deactivate</option>
    </select>
    <!-- <input type="text" name="" value=""> -->
    <!-- <input type="submit" name="" value="<%= @student.active == true ? "Deactivate" : "Activate" %>"> -->

  </form>
</div>
