<div>
  <% @students.each do |student| %>
    <div><%= link_to student.to_s, student_path(student) %></div>
  <% end %>
</div>


<!-- The ":show" resource in the router (routes.rb) is what allows "student_path(student)" to work instead of being an undefined variable or whatever (I think). -->

<!-- <div>
  <% @students.each do |student| %>


    <div><%= link_to "#{student.to_s}", "/student/#{student.id}"%></div><br>
  <% end %>
</div> -->
